<h1 id="page_heading">About Us</h1>

<table style="margin-left: -5px;">
  <tr>
    <td width="55%">
      <p class="align_left" style="margin-top: 0px !important">
        The Speck air quality monitor was developed by the <a class="link_underline" href="http://www.cmucreatelab.org" target="_blank">CREATE Lab</a>
        at <a class="link_underline" href="http://www.cmu.edu" target="_blank">Carnegie Mellon University</a>'s <a class="link_underline" href="http://www.ri.cmu.edu" target="_blank">Robotics Institute</a>.
        We recently updated the user interface and firmware to be more consistent with weight-based monitors that are primarily used outdoors.
        Our goal is to provide everyday citizens access to technology that can empower them to better understand and manage their air quality at home.
      </p>
      <p class="align_left">
        Thanks to generous support from the <a href="http://www.heinz.org/" target="_blank" class="link_underline">Heinz Endowments</a>, to date, we have been able to empower many communities, organizations and individuals
        to implement various air quality projects and experiments using the Speck. We hope to continue to expand our outreach efforts in the future,
        and inspire more people to explore ways they can improve the air they breathe.
      </p>
      <p class="align_left">
        The Speck is not yet commercially available - please fill out our <a href="https://docs.google.com/forms/d/11isMTkDc_mrZUz5cKI9vNXiJWXsQc5bzdHOCCTE-jS4/viewform" target="_blank" class="link_underline"> Speck Interest Form</a> for updates related to its future availability. For other information about the Speck, please email us at: <a href="mailto:speck@cmucreatelab.org?Subject=Inquiry%20about%20Speck" target="_top" class="link_underline">speck@cmucreatelab.org</a>
      </p>
    </td>
    <td class="align_top" style="text-align: right">
      <a href="http://www.cmu.edu" target="_blank"><img id="cmu_logo" src="assets/cmu_logo.jpg" height="50" width="346" alt="cmu_logo"></a>
      <a href="http://www.cmucreatelab.org" target="_blank"><img src="assets/createlab_logo.png" height="84" width="310" alt="createlab_logo"></a>
    </td>
  </tr>
</table>
