<div class="fill_line fill_line_with_top_margin"></div>

<div class="overlay_container">
  <div id="causes_image_overlay">By monitoring readings on the Speck, you can become an expert about your air quality, and run experiments to test a variety of approaches to reduce fine particle concentration in your home.</div>
  <div><img src="assets/pathways_to_better_air_main.png" height="503" width="1200" style="margin-top: -68px" alt="causes_and_solutions_main_image"></div>
</div>

<div class="fill_line"></div>

<div id="expandable_list_table" class="rounded_container2">
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>GENERAL STRATEGIES to improve your indoor air quality</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few examples of things you can try to reduce your fine particulate concentration levels at home.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><b>Add a HEPA air purifier</b> - HEPA purifiers can drastically reduce the amount of particles in a closed space.  Be sure to size the purifier appropriately to the space it is intended for, and change the filter regularly. Information on recommended room sizes and filter replacement is typically included on the filter packaging. Make sure that doors to the room with the purifier are closed when it is in use to preserve the cleaned air! Keep in mind that HEPA purifiers are generally more effective than ionic purifiers (with no filter). Also, HEPA purifiers do not generate ozone emissions that can be harmful to breathe.</li>
        <li><b>Clean regularly</b> – Open windows, vacuum, and remove dust from any frequently occupied space.  This will keep particulate matter from repeatedly being disturbed and re-settling.  When vacuuming, use a vacuum with a built-in HEPA filter so that you are not blowing particulates from the carpet or floor back into the air.  Also remember to change this HEPA filter regularly, even though some vacuums neglect to mention this necessity.</li>
        <li><b>Open or close windows</b> – See how the Speck responds to opening or closing different windows.  Whether this helps or hurts may depend on the time of day and wind conditions, so watch carefully!</li>
        <li><b>Change cooking oils and techniques</b> – When possible, try to find cooking oils that generate fewer fine particles (oils that have a higher <a href="http://en.wikipedia.org/wiki/Smoke_point" target="_blank" class="link_underline">smoke point</a> are good candidates). Also, always use the range hood to ventilate the kitchen, or open windows and aim a fan to direct particulates outside.  Make sure the range hood is exhausting outside and not just back into the kitchen!</li>
        <li><b>Join organizations and communities that care about air quality</b> – Join those who are petitioning for cleaner air and let your voice be heard.  Cleaner air is possible through changes in community, industry, and legislature. The <a href="http://breatheproject.org/" target="_blank" class="link_underline">Breathe Project</a>, <a href="http://www.environmentalhealthproject.org/" target="_blank" class="link_underline">SWPA-EHP</a>, <a href="http://gasp-pgh.org/" target="_blank" class="link_underline">GASP</a> and <a href="http://www.cleanwateraction.org/" target="_blank" class="link_underline">CWA</a> are great groups to start with.</li>
      </ul>
    </div>
  </div>
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>EXPERIMENTS to test your ideas for ways to improve the air you breathe</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few examples of mini explorations you can run at home to investigate ways to reduce your fine particulate concentration levels.</div>
      <ul class="align_left" style="margin: 10px 0;">
         <li><b>Bedroom</b> - Are you waking up with allergies or red eyes? Are your children coughing at night but not during the day? You can make several material changes that may help improve the air quality in bedrooms. If the Speck reading is increasing when your kids get in bed, try hypoallergenic dust covers on their pillows, mattress and/or comforter. Bedding can collect dust, mold spores and other allergens; hypoallergenic covers stop these sources of pollution from dispersing into the air when you disturb the bed.  Consider an inexpensive HEPA purifier, meant for a small room, but be sure to shut the doors to the room, as these filters only clean a small space effectively. Run the Speck and see if the air quality clearly improves, and monitor coughing or allergic reactions to determine whether they improve as well.</li>
         <li><b>Kitchen</b> – Investigate your kitchen ventilation hood to see if it effectively moves particulates outside or just recycles them back into the kitchen. If you are seeing poor air quality readings for long periods after/during meals, try leaving the hood on for much longer (if it vents outside).  Try cooking at lower temperatures, use high-temperature-burning oils (such as extra light olive oil), or try steaming instead of frying.  Start the hood even before the oil is hot, to start making the air flow correctly. Experiment with when and how high to run the hood fan to get the best air quality.</li>
         <li><b>Cleaning</b> - Vacuum instead of dusting.  Try using a vacuum with a HEPA filter that actually cleans the air. Also, rather than dusting surfaces like fireplace mantles, use the handheld extension on the vacuum to suck up the dust rather than just spreading it into the air.</li>
         <li><b>HVAC</b> – Replace the HEPA filter if you have a forced-air system. If your filter is missing or expired, you may notice that the air quality does not get better when the forced-air turns on.</li>
         <li><b>Large living spaces</b> - If you have large spaces with bad air quality, like a dining room or living room that you often use, consider a HEPA purifier meant for continuous use and large flow rates from a reputable brand.  There are many reviews available online to help you choose the best purifier for your home.</li>
      </ul>
    </div>
  </div>
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>OTHER RESOURCES to help you improve your air quality</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few links to external resources that can help as you investigate ways to reduce levels of fine particulates in your home.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><a href="http://www.npr.org/blogs/thesalt/2013/09/10/219012757/kitchen-range-hoods-may-not-be-as-effective-as-they-claim" target="_blank" class="link_underline">Fixing Stove Hoods To Keep Pollution Out Of The Kitchen</a></li>
        <li><a href="http://www.epa.gov/pmdesignations/faq.htm#0" target="_blank" class="link_underline">EPA FAQs on Fine Particles (PM<sub>2.5</sub>)</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Smoke_point" target="_blank" class="link_underline">Smoke Point Reference</a></li>
      </ul>
    </div>
  </div>
</div>