<div class="fill_line fill_line_with_top_margin"></div>

<div class="overlay_container">
  <div id="causes_image_overlay">Fine particles are produced by many sources, including household activities such as cooking and cleaning. Understanding how these particles are generated can help you take better control of the air you breathe at home.</div>
  <div><img src="assets/pm_sources_main.png" height="503" width="1200" style="margin-top: -68px" alt="causes_and_solutions_main_image"></div>
</div>

<div class="fill_line"></div>

<div id="expandable_list_table" class="rounded_container2">
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>INDOOR sources of fine particles</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few examples of indoor air pollutants that generate fine particulate matter.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><b>Gas and Oil Heating</b> – These can sometimes release particulates. Pay attention to where furnace vents are or if you have an oil heater. For example, in one case where the oil heater vented below the window of a child's bedroom, pollution levels were elevated compared to the rest of the house.</li>
        <li><b>Forced-Air Heating & Air Conditioning</b> – These systems can be major sources of air pollution if the ductwork is dirty, or if there are no filters in the system to filter out particles as they move large volumes of air throughout the house.  On the other hand, with proper HEPA filters in place, a forced-air system can significantly clean indoor air.</li>
        <li><b>Fireplace</b> – Try to make sure the fireplace is well ventilated, and avoid burning if drafts are coming down the chimney.</li>
        <li><b>Furniture</b> – Sitting down on dusty chairs, pillows, or beds can free trapped dust.</li>
        <li><b>Wood-burning stoves</b> – Although wood-burning stoves can be a more economical way to heat your home, they can greatly increase indoor pollution levels because of the toxins contained in wood smoke.</li>
      </ul>
    </div>
  </div>
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>OUTDOOR sources of fine particles</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few examples of outdoor air pollutants that generate fine particulate matter.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><b>Diesel Emissions</b> – Trains, buses, and trucks, which use diesel fuel, can release large plumes of harmful particulates. Pay attention to whether any vehicles are idling near your home - depending on the wind and terrain, such vehicle idling can be a major source of indoor pollution. Many cities have anti-idling laws, and you can look up your local rules governing maximum idling time - often 3 or 5 minutes.</li>
        <li><b>Cars and other vehicles</b> – All fossil fuel vehicles release particulates, which may enter the home from nearby roads.</li>
        <li><b>Factories and Power Plants</b> – These are major sources of atmospheric pollution.  Look for regular changes in particulate concentrations, and see if you can identify industrial smells when the pollution is high in your home.</li>
        <li><b>Nearby Fires</b> – Wildfires, open burns, and accidents can cause large increases in particle counts.</li>
        <li><b>Inversion layers, winds, etc.</b> – Changes in atmospheric conditions, while not a source of particulate matter, can bring particles closer to the ground or blow them into houses.</li>
        <li><b>Outside air</b> - The air outside your home mixes more rapidly with your indoor space than you might imagine. In a typical home, the indoor air has been wholly exchanged in less than 2 hours, all day every day! Always compare your indoor reading to the outside air quality - compare the AQI color, or take the Speck to your porch for a few hours, to see if your indoor air is cleaner or dirtier than the air outside your home.</li>
      </ul>
    </div>
  </div>
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>ACTIVITY sources of fine particles</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are a few examples of activities that generate fine particulate matter.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><b>Cooking</b> – Preparing food, especially frying or using skillets, can cause particulates to be released into the air.  Oily or burnt foods can produce large plumes.  What's more, you will find different cooking oils behave differently according to their smoke point.  <a href="http://en.wikipedia.org/wiki/Smoke_point" target="_blank" class="link_underline">Click here</a> to see a chart which includes the smoke points for various cooking oils.  Extra light olive oil is a good high-temperature oil choice, but extra virgin olive oil generates smoke at much lower temperatures, and butter and peanut oil have even lower smoke points.  In particular, cooking without using a hood that exhausts the air out of the house is often a major source of indoor air pollution.</li>
        <li><b>Vacuuming and Dusting</b> – These actions release dust from furniture, walls, and shelves and can cause large spikes in particulate counts.  Vacuums of different models behave extraordinarily differently, with some vacuums dirtying the air significantly, while other vacuums have such good HEPA filters that using them actually cleans the air significantly!</li>
        <li><b>Second-Hand Smoke</b> – Smoking inside the home or near windows and doors will cause particulate counts to rise.  Many are surprised to see that smoking outdoors, on the porch, can increase particulate counts inside the house, even in a child's bedroom one floor away to the rear of the house!</li>
        <li><b>Incense and Candles</b> – Smoke, especially after extinguishing, is a trade-off for using these items.</li>
        <li><b>Grills and Barbecues</b> – Try to cook outside away from windows, or close them when cooking is occurring.  Again, the exact position of the barbecue from the house and the wind direction matters greatly in whether the barbecue pollutes the house or not.</li>
        <li><b>Home Renovations</b> – Any major work can free a variable amount of dust and dirt from old walls, floors, and ceilings.  Be careful doing work in old houses where asbestos or soot may be present.</li>
        <li><b>Showers, humidifiers, and boiling water</b> – Increased humidity will increase the size of particles through hydroscopic growth, which will cause a measurable increase in particle density.  These increases, while not strictly as bad as other forms of heightened pollution, aggravate conditions such as allergies and asthma.</li>
      </ul>
    </div>
  </div>
  <div>
    <a class="expander" href="#"><span class="toggle_expand">[ + ]</span><span class="toggle_collapse">[ <span style="font-size:19px">-</span> ]</span>&nbsp;&nbsp;<b><u>TYPES OF SPECK READINGS that you may see in your indoor environment</u></b></a>
    <div class="content">
      <div style="font-size: 15px; font-style: italic">Below are examples of types of historical graphs you may see on the Speck - the shape of these data plots can help you figure out the sources of particulates.</div>
      <ul class="align_left" style="margin: 10px 0;">
        <li><b>Brief spikes</b> – If an event lasts for only a few hours and is not periodic, it may indicate a single release of particulates from something like cooking, or an idling vehicle near your home.</li>
        <li><b>Sustained changes</b> – If the average particulate reading increases or decreases and remains this way for more than a day, something may have changed inside your home or outside with regard to ambient air quality.</li>
        <li><b>Periodic changes</b> – If the same signal shape shows up every day at the same time, consider traffic patterns, forced air systems, nearby factory or power plant activity, or daily habits that may be causing repeat events.</li>
      </ul>
    </div>
  </div>
</div>