<div class="fill_line fill_line_with_top_margin"></div>

<div id="what_is_pm_overlay_container" class="overlay_container">
  <div id="what_is_pm_image_overlay">Fine particles (PM<sub>2.5</sub>) are invisible to the naked eye, but can have very harmful impacts on your health. These pollutants can lodge deep into your lungs because they are smaller than a human hair.</div>
  <img src="assets/whatispm_main.png" height="518" width="1130" alt="whatisspeck_main">
</div>

<div class="fill_line"></div>
<table id="what_is_pm_main">
  <tr class="space_under">
    <td>
      <div>
        <img src="assets/whatispm_1.png" height="234" width="440" alt="whatispm_1">
      </div>
    </td>
    <td class="align_top align_left what_is_pm_table_col2">
      <h4 class="bold">What are fine particles?</h4>
      <p>
        Fine Particulate Matter or PM<sub>2.5</sub> refers to particles of matter suspended in the air that are 2.5 micrometers in diameter or smaller.
        That's 30 times smaller than the diameter of a single human hair!
      </p>
      <div class="learn_more"><a href="http://www.epa.gov/airquality/particlepollution/basic.html" target="_blank">learn more</a></div>
    </td>
  </tr>
  <tr class="space_under">
    <td>
      <div>
        <img src="assets/whatispm_2.png" height="224" width="440" alt="whatispm_2">
      </div>
    </td>
    <td class="align_top align_left what_is_pm_table_col2">
      <h4 class="bold">What are the health effects of fine particles?</h4>
      <p>
        Fine particles have been identified by the Environmental Protection Agency
        and the American Lung Association as an air pollutant that can be very harmful
        to your health. Inhaling PM<sub>2.5</sub> can cause coughing or wheezing.
        Exposure over extended periods of time can contribute to or worsen illnesses
        such as asthma, heart disease, chronic bronchitis, emphysema and pneumonia.
      </p>
      <div class="learn_more"><a href="http://www.epa.gov/airquality/particulatematter/health.html" target="_blank">learn more</a></div>
    </td>
  </tr>
  <tr class="space_under_end">
    <td>
      <div>
        <img src="assets/whatispm_3.png" height="313" width="440" alt="whatispm_3">
      </div>
    </td>
    <td class="align_top align_left what_is_pm_table_col2">
      <h4 class="bold">How can fine particles affect me?</h4>
      <p>
        Coarse particles that are between 2.5 and 10 micrometers in size are generally
        trapped by hairs and mucus in the nose and throat, but never make it as far as
        your lungs. Fine particles, on the other hand, are dangerous because they are
        small enough penetrate deep into the lungs, blocking the air sacs where oxygen
        enters the bloodstream. While particulates are
        generally not toxic, airborne toxic chemicals can attach to PM<sub>2.5</sub> and enter your
        bloodstream. Fine particulate pollution can also have environmental impacts including
        soil and water contamination.
      </p>
      <div class="learn_more"><a href="http://www.epa.gov/airquality/particulatematter/fastfacts.html" target="_blank">learn more</a></div>
    </td>
  </tr>
</table>
