<%= form_for(@speck) do |f| %>
  <% if @speck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speck.errors.count, "error") %> prohibited this speck from being saved:</h2>

      <ul>
      <% @speck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
